[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"
python-dotenv = "*"
pylint-flask = "*"

[packages]
flask = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
psycopg2-binary = "*"
webargs = "*"
marshmallow = "*"
bcrypt = "*"
raven = {extras = ["flask"],version = "*"}
passlib = "*"

[requires]
python_version = "3.7"
